<style>
  h5 {
   float: right;
  }
  #button{
    margin-bottom: 9px;
  }
</style>
<h5 class="success"> <%= link_to '返回', {:controller => 'admin/dashboard'}%></h5>
<table class="table table-hover">
  <h4 align="center">职位信息</h4>
  <button type="button" class="btn btn-warning" id="button">职位新增</button>
  <tr class="danger">
    <td>编号</td>
    <td>部门</td>
    <td>职位名称</td>
    <td>操作</td>
  </tr>

  <% @position.each do |ar| %>
      <tr class="info">
        <td><%= ar.id%></td>
        <td><%= ar.positionName%></td>
        <td><%= ar.positionname%></td>
        <td>
          <span class="glyphicon glyphicon-search"></span><%= link_to  '', {:controller => 'admin/position', :action => 'show', :id => "#{ar.id}"}%>
        </td>
      </tr>
  <% end %>



</table>
