<style>
  h5 {
   float: right;
  }
  #button{
    margin-left: 30px;
  }
</style>
<script>
  $(document).ready(function () {
      $("#new_position").submit(function () {
         if ($("#bu").val() == -1) {
           alert("你还没有选择部门!");
           return false
         }
      });
  });
</script>
<h4 align="center">职位信息</h4>
<form class="navbar-form navbar-left" role="search" action="">
  <table id="table">
    <tr>
      <td>
        <select class="form-control" name="select" id="bb">
          <option value=''>请选择部门</option>
          <%@department.each do |d |%>
              <option value='<%=d.id%>'><%=d.positionName%></option>
          <% end %>
        </select>
      </td>
      <td> <button type="submit" class="btn btn-default" id="bb">查找</button></td>
    </tr>
  </table>
</form>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">职位新增</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        <h4 class="modal-title" id="myModalLabel">添加职位</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@positioninfo, url: {:controller => 'admin/position' ,:action => 'create'} ,html:{method: :post}) do |f| %>
            <tr>
              <td><select class="form-control" name="select" id="bu">
                <option value='-1'>请选择部门</option>
                <%@department.each do |d |%>
                    <option value='<%=d.id%>'><%=d.positionName%></option>
                <% end %>
              </select>
              </td>
            </tr>
            <tr>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon2">职位:</span>
                <input type="text" class="form-control" placeholder="请输入要添加的职位" aria-describedby="basic-addon2" name="position[positionname]">
              </div>
            </tr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary" id="Test">提交</button>
      </div>
        <% end %>
    </div>
  </div>
</div>

<div align="center">
  <div style="width:1720px; height:600px;  margin:20px 0; line-height:300%; padding:30px;">
    <table class="table table-hover">
      <tr class="danger">
        <td>编号</td>
        <td>职位名称</td>
        <td>操作</td>
      </tr>

      <% @position.each do |ar| %>
          <tr class="info">
            <td><%= ar.id%></td>
            <td><%= ar.positionname%></td>
            <td>
               <%= link_to  '', {:controller => 'admin/position', :action => 'show', :id => "#{ar.id}"} , :class => "glyphicon glyphicon-search"%>
              <%= link_to '', {:controller => 'admin/position', :action => 'destroy', :id=> "#{ar.id}"} , :class => "glyphicon glyphicon-remove"%>
              <%= link_to '', {:controller => 'admin/position', :action => 'edit', :id => "#{ar.id}"},:class => "glyphicon glyphicon-pencil"%>

            </td>
          </tr>
      <% end %>
    </table>
  </div>

</div>




