<style>

</style>
<h5 align="center">
  <h4 align="center">添加职位</h4>
<%= form_for(@positions, url: {:controller => 'admin/position' ,:action => 'create'} ,html:{method: :post}) do |f| %>
    <table>
      <tr>
        <td><%= f.label :选择部门 %></td><td id="tdstyle"><%= f.select :department_id,@department.collect{|s| [s.positionName,s.id] }%></td>
      </tr>
      <tr>
        <td><%= f.label :职位名称%></td><td id="tdstyle"><%= f.text_field :positionname%></td>
      </tr>
    </table>
    <%= f.submit "提交"%>
    <%= link_to '返回', {:controller => 'admin/position'}%>
<% end %>
</h5>
