<style>
  #table{
     margin-top: 10px;
  }
  h5 {
    float: right;
  }
  #button{
    margin-bottom: 9px;
  }
    #from{
      margin: 0 auto;
    }
    #da{
      height: 500px;
    }

</style>
<h5 class="success"> <%= link_to '返回', {:controller => 'admin/dashboard'}%></h5>
<h4 align="center">应聘人员列表</h4>

<form class="navbar-form navbar-left" role="search" action="" id="from">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="请输入姓名" name="name">
  </div>
  <button type="submit" class="btn btn-default">查找</button>
</form>

<button type="button" class="btn btn-warning" id="button"><%= link_to '人员新增' , :controller => 'admin/staffinfo' , :action => 'new'%></button>

<table  class="table table-hover" id="table">
  <tr class="danger">
    <td>姓名</td>
    <td>部门</td>
    <td>职位</td>
    <td>电话</td>
    <td>状态</td>
    <td>操作</td>

  </tr>

  <% @employee_infos.each do |ar| %>
      <tr class="info">
        <td><%= ar.name%></td>
        <td><%= ar.positionName%></td>
        <td><%= ar.positionname%></td>
        <td><%= ar.contact_phone%></td>
        <td><%= ar.state%></td>
        <td>
         <%= link_to '编辑', {:controller => 'admin/staffinfo', :action => 'show', :id => "#{ar.id}" ,:class =>"glyphicon glyphicon-search"}%>
        </td>
      </tr>
  <% end %>

</table>
<tr>
  <td>
    <nav>
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#" name="indexinfo">1</a></li>
        <li><a href="#" name="indexinfo">2</a></li>
        <li><a href="#" name="indexinfo">3</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </td>
</tr>
<div id="da"></div>

