<script>
  $(document).ready(function(){
    $("#text_office_checkbox").click(function(){
      if($("#text_office_checkbox").attr("checked",'true')){
        $("#text_office").toggle();
      }
    })
  })
  $(document).ready(function(){
    $("#text_office_checkbox2").click(function(){
      if($("#text_office_checkbox").attr("checked",'true')){
        $("#text_office2").toggle();
      }
    })
  })

  var ex_num= 1;
  var count=0;
  var count1=0;
  $(document).ready(function(){
    $("#zeng").click(function(){
      ex_num+1;
      count+=1;
      $("#addtable").after(" <tr> <td class='jingli_style'><input type='date' name='work_experience["+ex_num+"][start_and]'></td><td><input type='date' name='work_experience["+ex_num+"][end_date]'></td>"+
          "<td class='jingli_style'><input type='text' name='work_experience["+ex_num+"][work_unit]'></td>"+
          "<td class='jingli_style'><input type='text' name='work_experience["+ex_num+"][post]'></td>"+
          "<td class='jingli_style'><input type='text' name='work_experience["+ex_num+"][salary]'></td>"+
          "<td class='jingli_style'><input type='text' name='work_experience["+ex_num+"][witness]'></td>"+
          "<td class='jingli_style'><input type='text' name='work_experience["+ex_num+"][witness]'></td>"+
         "<td class='jingli_style'><input type='text' name='work_experience["+ex_num+"][telephone]'></td>"+"</tr>"
      )
    })
    $("#jian").click(function(){
      if(count>0){
        $("#addtable").next().remove();
      }
      if(count<=0){
        count+=1;
      }
      count-=1;
    })
  })

  $(document).ready(function(){
    $("#zeng1").click(function(){
      ex_num+1;
      count1+=1;
      $("#addtable2").after("  <tr>"+
         "<td class='jingli_style'><input type='date' name='cducations["+ex_num+"][start_and]'></td><td><input type='date' name='cducations["+ex_num+"][end_date]'></td>"+
          "<td class='jingli_style' colspan='1'><input type='text' name='cducations["+ex_num+"][school]'></td>"+
          "<td class='yuan_style' colspan='2'><input type='text' name='cducations["+ex_num+"][major]'></td>"+
          "<td class='jingli_style'><input type='text' name='cducations["+ex_num+"][leaming_form]'></td>"+
          "<td class='yuan_style' colspan='2'><input type='text' name='cducations["+ex_num+"][qualifications_and_degree]'></td>"+
          "</tr>"
      )
    })
    $("#jian1").click(function(){
      if(count1>0){
        $("#addtable2").next().remove();
      }
      if(count1<=0){
        count1+=1;
      }
      count1-=1;
    })
  })
</script>


<style>

  #addtable2{
    display: none;
  }
  #addtable{
    display: none;
  }
  .td_style{
    width: 80px;
    text-align: center;

  }
  .input_style{
    width: 100%;
  }
  .jingli_style{
    width: 100px;
    text-align: center;
  }
  .yuanyin_style{
    width: 247px;
    text-align: center;
  }
  .page3_input{
    width: 100%;;
  }
  .yuanyin_style input{
    width: 100%;
  }
  .yuan_style input{
    width: 100%;
  }
  .yuanyin_style input {
    width: 100%;
  }
  #text_office{
    width: 61%;
    display: none;
  }
  #text_office2{
    width: 81%;
    display: none;
  }
    #padding{
      padding-left: 25px;
    }

</style>

<%= form_for(@article, url: {:controller => 'admin/staffinfo' ,:action => 'create'} ,html:{method: :post}) do |f| %>
    <h4 align="center">应聘人员登记</h4>

<table border="1" align="center">
        <tr>
          <td class="td_style"><%= f.label :姓名%></td><td><%= f.text_field :name%></td>
          <td class="td_style"><%= f.label :性别%></td><td id="padding"><%= f.radio_button("gender", "男") %>男<%= f.radio_button("gender", "女") %>女</td>
          <td class="td_style"><%= f.label :出生日期%></td><td><%= f.date_field :birth_date%></td>
          <td class="td_style"><%= f.label :婚育状况%></td><td><%= f.text_field :marriage%></td>
        </tr>
        <tr>
          <td class="td_style"><%= f.label :民族%></td><td><%= f.text_field :nation%></td>
          <td class="td_style"><%= f.label :籍贯%></td><td><%= f.text_field :origin%></td>
          <td class="td_style"><%= f.label :政治面貌%></td><td><%= f.text_field :political_landscape%></td>
          <td class="td_style"><%= f.label :身体状况%></td><td><%= f.text_field :physical_condition%></td>
        </tr>
        <tr>
          <td class="td_style"><%= f.label :身高%></td><td><%= f.text_field :height%></td>
          <td class="td_style"><%= f.label :体重%></td><td><%= f.text_field :weight%></td>
          <td class="td_style"><%= f.label :联系电话%></td><td><%= f.text_field :contact_phone%></td>
          <td class="td_style" colspan="2">
        </tr>
        <tr>
          <td class="td_style"><%= f.label :毕业时间%></td><td><%= f.date_field :graduation_time%></td>
          <td class="td_style"><%= f.label :毕业院校%></td><td><%= f.text_field :_school%></td>
          <td class="td_style"><%= f.label :专业%></td><td><%= f.text_field :major%></td>
          <td class="td_style"><%= f.label :最高学历%></td><td><%= f.text_field :highest_degree%></td>
        </tr>
        <tr>
          <td colspan="2"><center><%= f.label :身份证号码%></center></td><td colspan="2" class="yuan_style" ><%= f.text_field :id_card_number%></td>
          <td colspan="2"><center><%= f.label :户籍地址%></center><td colspan="2" class="yuan_style"><%= f.text_field :permanent_address%></td>
        </tr>
        <tr>
          <td colspan="2"><center><%= f.label :现居住地址%></center><td colspan="2" class="yuan_style"><%= f.text_field :live_address%></td>
          <td colspan="2"><center><%= f.label :邮箱%></center><td colspan="2" class="yuan_style"><%= f.email_field :mailbox%></td>
        </tr>
        <tr>
          <td colspan="2"><center><%= f.label :期望薪资%></center><td colspan="2" class="yuan_style"><%= f.text_field :salary_expectation%></td>
          <td colspan="2"><center><%= f.label :到岗时间%></center><td colspan="2" class="yuan_style"><%= f.date_field :arrival_time%></td>
        </tr>
        <tr>
          <td colspan="8"><h4 align="center">工作经历</h4></td>
        </tr>
          <%= fields_for :work_experience  do |ww| %>
          <tr>
            <td class="jingli_style" colspan="2"><%= ww.label :起止年月%></td>
            <td class="jingli_style" ><%= ww.label :工作单位%></td>
            <td class="jingli_style" ><%= ww.label :岗位%></td>
            <td class="jingli_style"><%= ww.label :薪资%></td>
            <td class="jingli_style"><%= ww.label :离职原因%></td>
            <td class="jingli_style" ><%= ww.label :证明人%></td>
            <td class="jingli_style" ><%= ww.label :电话%><td id="jian"><a href="#" >-</a></td>
          </tr>
          <tr>
             <td class="jingli_style"><%= ww.date_field :start_and%></td><td><%= ww.date_field :end_date%></td>
            <td class="jingli_style"><%= ww.text_field :work_unit%></td>
            <td class="jingli_style"><%= ww.text_field :post%></td>
            <td class="jingli_style"><%= ww.text_field :salary%></td>
            <td class="jingli_style"><%= ww.text_field :reasons_for_leaving%></td>
            <td class="jingli_style"><%= ww.text_field :witness%></td>
            <td class="jingli_style"><%= ww.text_field :telephone%></td><td id="zeng"><a href="#" >+</a></td>
          </tr>
          <tr id="addtable"></tr>
      <% end %>
          <tr id="stop">
            <td colspan="8"><h4 align="center">教育情况</h4></td>
          </tr>
          <%= fields_for :cducations  do |cc| %>
          <tr>
            <td class="jingli_style" colspan="2"><%= cc.label :起止年月%></td>
            <td class="jingli_style" colspan="1"><%= cc.label :就读学校%></td>
            <td class="jingli_style" colspan="2"><%= cc.label :专业%></td>
            <td class="jingli_style"><%= f.label :学习形式%></td>
            <td class="jingli_style" colspan="2"><%= cc.label :所获学历及学位%></td><td id="jian1"><a href="#">-</a></td>
          </tr>

            <tr>
              <td class="jingli_style"><%= cc.date_field :start_and%></td><td><%= cc.date_field :end_date%></td>
              <td class="jingli_style" colspan="1"><%= cc.text_field :school%></td>
              <td class="yuan_style" colspan="2"><%= cc.text_field :major%></td>
              <td class="jingli_style"><%= cc.text_field :leaming_form%></td>
              <td class="yuan_style" colspan="2"><%= cc.text_field :qualifications_and_degree%></td><td id="zeng1"><a href="#" >+</a></td>
            </tr>
            <tr id="addtable2"> </tr>
          <% end%>

          <tr>
            <td class="jingli_style" colspan="2" align="center"><%= f.label :熟练使用办公软件%></td>
            <td colspan="6">
              <label><%= f.check_box 'office_software'%> word</label>
              <label><%= f.check_box 'office_software'%>excel</label>
              <label><%= f.check_box 'office_software'%>powerpoint</label>
              <label><%= f.check_box 'office_software'%>wps</label>
              <label><%= f.check_box 'office_software'%>visio</label>
              <label><input id="text_office_checkbox" name="Fruit" type="checkbox" value="true" />其他</label>
              <span id="text_office"><%= f.text_field :office_software%></span>
            </td>
          </tr>
          <tr>
            <td class="jingli_style">应聘理由:</td>
            <td colspan="7">
              <label><%= f.check_box 'reasons_for_applying'%>高度认可互联网大趋势</label>
              <label><%= f.check_box 'reasons_for_applying'%>了解精细化学品行业供应链</label>
              <label><%= f.check_box 'reasons_for_applying'%>了解B2B电商模式</label>
              <label><%= f.check_box 'reasons_for_applying'%>专业对口</label>
              <label><%= f.check_box 'reasons_for_applying'%>寻一个稳定的工作</label>
              <label><%= f.check_box 'reasons_for_applying'%>寻一个可以发展的平台</label>
              <br>
              <label><input id="text_office_checkbox2" name="Fruit" type="checkbox" value="true" />其他(请说明)</label>
              <span id="text_office2"><%= f.text_field :reasons_for_applying%></span>
            </td>
          </tr>
          <tr>
            <td><%= f.label "最能概括自己的3个字:"%></td><td class="yuan_style" colspan="7"><%= f.text_field :self_evaluation%></td>
          </tr>

        <tr>
          <td align="center" colspan="8"><%= f.submit '提交' %></td>
         </tr>
</table>

<% end %>

