<script>
  $(document).ready(function(){
    $("#g").click(function(){
      $("#tree").toggle()
    });
    $("#gg").click(function(){
      $("#treee").toggle()
    });
    $("#ggg").click(function(){
      $("#treeee").toggle()
    });
  });
</script>


<style>
  #tree{
    display: none;
  }
  #tree>li{
    list-style: none;
  }
  li{
    color: white;
  }
</style>

<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li id="g"><a href='#' class='selected'><i class='fa fa-circle-o'></i>部门管理</a></li>
      <ul id="tree">

        <li><%= link_to '部门' , {:controller => :departmentinfo, :action => :index } %></li>

        <li><%= link_to '职位' , {:controller => :position, :action => :index}%></li>

      </ul>s
      <li id="gg"><a href='#' class='text-aqua'><i class='fa fa-circle-o'></i>员工管理</a></li>
      <ul id="treee">

        <li>
          <%= link_to '人员' , {:controller => :staffinfo, :action => :index } %>
        </li>
        <li>
          <%= link_to '部门组长' ,{:controller => :staffinfo, :action => :groupleader} %>
        </li>
      </ul>
      <li id="ggg"><a href='#' class='text-aqua'><i class='fa fa-circle-o'></i>审批</a></li>
      <ul id="treeee">

        <li>
          <%= link_to '待审核' , {:controller => :resignation, :action => :index } %>
        </li>
        <li>
          <%= link_to '审核后续' , {:controller => :leavedatail, :action => :index } %>
        </li>
      </ul>
    </ul>
  </section>
</aside>