<style>
  h5 {
    float: right;
  }

</style>
<h4 align="center">部门信息</h4>
<h5 class="success"> <%= link_to '返回', {:controller => 'admin/dashboard'}%></h5>
<button class="btn btn-info"><%= link_to '部门合并' , {:controller => 'admin/departmentinfo' , :action => 'merge'}%></button>
<a class="btn btn-info" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">部门新增</a>
<div class="collapse" id="collapseExample">
  <div class="well">
    <%= form_for(@department, url: {:controller => 'admin/departmentinfo' ,:action => 'create'} ,html:{method: :post}) do |f| %>
        <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="请输入部门" name="department[positionName]">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">提交</button>
                </span>
          </div>
        </div>
    <% end %>
  </div>
</div>



<div align="center">

    <table class="table table-hover">
      <tr class="danger">
        <td>编号</td>
        <td>名称</td>
        <td>操作</td>
      </tr>

      <% @articles.each do |ar| %>
          <tr class="info">
            <td><%= ar.id%></td>
            <td><%= ar.positionName%></td>
            <td onclick="prom()">
              <%= link_to '修改', {:controller => 'admin/departmentinfo', :action => 'edit', :id => "#{ar.id}"}%>
            </td>
          </tr>
      <% end %>
    </table>

</div>





