
<%= form_for(@department, url: {:controller => 'admin/departmentinfo' ,:action => 'create'} ,html:{method: :post}) do |f| %>
      <table>
        <tr>
          <td><%= f.label :部门 %></td>
          <td><%= f.text_field :positionName%></td>
        </tr>
      </table>
    <%= f.submit "提交"%>
    <%= link_to '返回', {:controller => 'admin/dashboard'}%>
<% end %>