
<tr>
  <td colspan="8"><h4 align="center">教育情况</h4></td>
</tr>
<tr>
  <td class="jingli_style"><%= f.label :起止年月%></td>
  <td class="jingli_style" colspan="2"><%= f.label :就读学校%></td>
  <td class="jingli_style" colspan="2"><%= f.label :专业%></td>
  <td class="jingli_style"><%= f.label :学习形式%></td>
  <td class="jingli_style" colspan="2"><%= f.label :所获学历及学位%></td>
</tr>
<tr>
  <td class="jingli_style"><%= f.text_field :height%></td>
  <td class="jingli_style" colspan="2"><%= f.text_field :height%></td>
  <td class="yuan_style" colspan="2"><%= f.text_field :height%></td>
  <td class="jingli_style"><%= f.text_field :height%></td>
  <td class="jingli_style" colspan="2"><%= f.text_field :height%></td>
</tr>
<tr>
  <td class="jingli_style"><%= f.text_field :height%></td>
  <td class="jingli_style" colspan="2"><%= f.text_field :height%></td>
  <td class="yuan_style" colspan="2"><%= f.text_field :height%></td>
  <td class="jingli_style"><%= f.text_field :height%></td>
  <td class="jingli_style" colspan="2"><%= f.text_field :height%></td>
</tr>
<tr>
  <td class="jingli_style"><%= f.text_field :height%></td>
  <td class="jingli_style" colspan="2"><%= f.text_field :height%></td>
  <td class="yuan_style" colspan="2"><%= f.text_field :height%></td>
  <td class="jingli_style"><%= f.text_field :height%></td>
  <td class="jingli_style" colspan="2"><%= f.text_field :height%></td>
</tr>
<tr>
  <td class="jingli_style" colspan="2" align="center">熟练使用办公软件</td>
  <td colspan="6">
    <label><input name="Fruit" type="checkbox" value="" />word</label>
    <label><input name="Fruit" type="checkbox" value="" />excel</label>
    <label><input name="Fruit" type="checkbox" value="" />powerpoint</label>
    <label><input name="Fruit" type="checkbox" value="" />wps</label>
    <label><input name="Fruit" type="checkbox" value="" />visio</label>
    <label><input id="text_office_checkbox" name="Fruit" type="checkbox" value="true" />其他</label>
    <input id="text_office" type="text">
  </td>
</tr>
<tr>
  <td class="jingli_style">应聘理由:</td>
  <td colspan="7">
    <label><input name="Fruit" type="checkbox" value="" />高度认可互联网大趋势</label>
    <label><input name="Fruit" type="checkbox" value="" />了解精细化学品行业供应链</label>
    <label><input name="Fruit" type="checkbox" value="" />了解B2B电商模式</label>
    <label><input name="Fruit" type="checkbox" value="" />专业对口</label>
    <label><input name="Fruit" type="checkbox" value="" />寻一个稳定的工作</label>
    <label><input name="Fruit" type="checkbox" value="" />寻一个可以发展的平台</label>
    <br>
    <label><input id="text_office_checkbox2" name="Fruit" type="checkbox" value="true" />其他(请说明)</label>
    <input id="text_office2" type="text">
  </td>
</tr>
<tr>
  <td><%= f.label :自我评价%></td><td><%= f.text_field :self_evaluation%></td>
</tr>